**Group by Mechanics**

In [1]:
import pandas as pd

In [4]:
import pandas as pd
import numpy as np

# Creating a sample Automobile EDA dataset
data = {
    "symboling": np.random.randint(-2, 4, 200),
    "normalized-losses": np.random.choice([np.nan, 65, 90, 100, 115, 120, 125], 200),
    "make": np.random.choice(["alfa-romero", "audi", "bmw", "chevrolet", "dodge", "honda"], 200),
    "fuel-type": np.random.choice(["gas", "diesel"], 200),
    "aspiration": np.random.choice(["std", "turbo"], 200),
    "num-of-doors": np.random.choice(["two", "four"], 200),
    "body-style": np.random.choice(["sedan", "hatchback", "wagon", "hardtop"], 200),
    "drive-wheels": np.random.choice(["rwd", "fwd", "4wd"], 200),
    "engine-location": np.random.choice(["front", "rear"], 200),
    "wheel-base": np.random.uniform(86.6, 120.9, 200),
    "length": np.random.uniform(141.1, 208.1, 200),
    "width": np.random.uniform(60.3, 72.3, 200),
    "height": np.random.uniform(47.8, 59.8, 200),
    "curb-weight": np.random.randint(1488, 4066, 200),
    "engine-type": np.random.choice(["dohc", "ohc", "ohcf", "ohcv"], 200),
    "num-of-cylinders": np.random.choice(["four", "six", "five", "three"], 200),
    "engine-size": np.random.randint(61, 326, 200),
    "fuel-system": np.random.choice(["mpfi", "2bbl", "idi", "spdi"], 200),
    "bore": np.random.uniform(2.54, 3.94, 200),
    "stroke": np.random.uniform(2.07, 4.17, 200),
    "compression-ratio": np.random.uniform(7.0, 23.0, 200),
    "horsepower": np.random.randint(48, 288, 200),
    "peak-rpm": np.random.randint(4150, 6600, 200),
    "city-mpg": np.random.randint(13, 49, 200),
    "highway-mpg": np.random.randint(16, 54, 200),
    "price": np.random.randint(5118, 45400, 200)
}

df = pd.DataFrame(data)

# Save to CSV file
df.to_csv("automobileEDA.csv", index=False)

# Display first 5 rows
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,100.0,bmw,diesel,std,four,hardtop,4wd,rear,99.371887,...,284,mpfi,3.679776,3.834863,7.342485,263,5268,32,36,29850
1,0,100.0,honda,diesel,turbo,two,wagon,rwd,front,90.678763,...,188,idi,3.916595,2.134510,16.193344,62,4990,13,18,27493
2,2,115.0,audi,gas,std,two,wagon,4wd,rear,116.148926,...,160,2bbl,3.573711,3.618486,21.437368,263,5705,25,17,41550
3,-2,115.0,dodge,gas,turbo,two,hardtop,4wd,rear,117.752862,...,128,mpfi,3.017594,3.342930,13.100182,236,5244,39,34,34730
4,0,65.0,alfa-romero,diesel,std,four,sedan,rwd,rear,115.985515,...,190,mpfi,2.635558,3.985010,13.207686,202,4437,26,25,33402

As you can see there are multiple columns with categoical variable. Using groupby() function lets group these data set on the basis of body-style.

In [7]:
df = pd.read_csv("automobileEDA.csv")
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,100.0,bmw,diesel,std,four,hardtop,4wd,rear,99.371887,...,284,mpfi,3.679776,3.834863,7.342485,263,5268,32,36,29850
1,0,100.0,honda,diesel,turbo,two,wagon,rwd,front,90.678763,...,188,idi,3.916595,2.134510,16.193344,62,4990,13,18,27493
2,2,115.0,audi,gas,std,two,wagon,4wd,rear,116.148926,...,160,2bbl,3.573711,3.618486,21.437368,263,5705,25,17,41550
3,-2,115.0,dodge,gas,turbo,two,hardtop,4wd,rear,117.752862,...,128,mpfi,3.017594,3.342930,13.100182,236,5244,39,34,34730
4,0,65.0,alfa-romero,diesel,std,four,sedan,rwd,rear,115.985515,...,190,mpfi,2.635558,3.985010,13.207686,202,4437,26,25,33402

In [5]:
#groups dataframe according to body-style and prints the keys of groups
df.groupby('body-style').groups.keys()

dict_keys(['hardtop', 'hatchback', 'sedan', 'wagon'])

In [8]:
# Import required libraries
import pandas as pd
import numpy as np

# -----------------------------
# Creating the dataset
# -----------------------------
data = {
    "symboling": np.random.randint(-2, 4, 200),
    "normalized-losses": np.random.choice([np.nan, 65, 90, 100, 115, 120, 125], 200),
    "make": np.random.choice(["alfa-romero", "audi", "bmw", "chevrolet", "dodge", "honda"], 200),
    "fuel-type": np.random.choice(["gas", "diesel"], 200),
    "aspiration": np.random.choice(["std", "turbo"], 200),
    "num-of-doors": np.random.choice(["two", "four"], 200),
    "body-style": np.random.choice(["sedan", "hatchback", "wagon", "hardtop"], 200),
    "drive-wheels": np.random.choice(["rwd", "fwd", "4wd"], 200),
    "engine-location": np.random.choice(["front", "rear"], 200),
    "wheel-base": np.random.uniform(86.6, 120.9, 200),
    "length": np.random.uniform(141.1, 208.1, 200),
    "width": np.random.uniform(60.3, 72.3, 200),
    "height": np.random.uniform(47.8, 59.8, 200),
    "curb-weight": np.random.randint(1488, 4066, 200),
    "engine-type": np.random.choice(["dohc", "ohc", "ohcf", "ohcv"], 200),
    "num-of-cylinders": np.random.choice(["four", "six", "five", "three"], 200),
    "engine-size": np.random.randint(61, 326, 200),
    "fuel-system": np.random.choice(["mpfi", "2bbl", "idi", "spdi"], 200),
    "bore": np.random.uniform(2.54, 3.94, 200),
    "stroke": np.random.uniform(2.07, 4.17, 200),
    "compression-ratio": np.random.uniform(7.0, 23.0, 200),
    "horsepower": np.random.randint(48, 288, 200),
    "peak-rpm": np.random.randint(4150, 6600, 200),
    "city-mpg": np.random.randint(13, 49, 200),
    "highway-mpg": np.random.randint(16, 54, 200),
    "price": np.random.randint(5118, 45400, 200)
}

df = pd.DataFrame(data)

# -----------------------------
# Grouping by body-style
# -----------------------------
style = df.groupby("body-style")

# -----------------------------
# Check all available body-style groups
# -----------------------------
print("Available body styles:", df["body-style"].unique())

# -----------------------------
# Get group (example: sedan)
# -----------------------------
print("\n----- Group: sedan -----")
print(style.get_group("sedan"))

Available body styles: ['sedan' 'hatchback' 'wagon' 'hardtop']

----- Group: sedan -----
     symboling  normalized-losses         make fuel-type aspiration  \
0            3               65.0         audi       gas        std
6            3              125.0         audi    diesel      turbo
16          -1              125.0  alfa-romero       gas      turbo
23           3              120.0        honda       gas        std
24           0               90.0          bmw       gas        std
25           2              100.0    chevrolet    diesel      turbo
26          -2              100.0         audi    diesel      turbo
27           2                NaN          bmw    diesel        std
30           2                NaN          bmw    diesel      turbo
35          -1                NaN  alfa-romero    diesel        std
40           0              115.0        honda    diesel      turbo
41          -1               90.0  alfa-romero    diesel        std
52           2              120.0          bmw       gas        std
53           0               90.0        honda    diesel      turbo
59          -1              125.0        dodge    diesel      turbo
61          -1                NaN    chevrolet       gas        std
66           1               90.0          bmw       gas        std
69          -2               90.0    chevrolet    diesel      turbo
70           2               65.0          bmw       gas      turbo
71          -2              100.0        honda       gas        std
74          -2              125.0          bmw       gas        std
75           1               90.0  alfa-romero    diesel        std
81           0               90.0  alfa-romero       gas      turbo
88          -1              120.0          bmw       gas        std
90          -2              120.0         audi       gas        std
92           2               65.0        dodge       gas        std
97          -2                NaN          bmw    diesel        std
99          -2               65.0  alfa-romero    diesel        std
100          2              100.0        dodge    diesel      turbo
102          3               65.0         audi    diesel      turbo
104          3              125.0    chevrolet    diesel        std
106         -2               65.0        dodge    diesel        std
108          3              125.0    chevrolet    diesel      turbo
116          1               65.0    chevrolet       gas      turbo
123          0              120.0          bmw    diesel      turbo
127          0              120.0          bmw       gas        std
146          1              115.0        honda       gas      turbo
147          3                NaN    chevrolet       gas        std
149          1                NaN          bmw    diesel        std
155         -2                NaN          bmw    diesel        std
160          1                NaN        honda       gas        std
161          2              125.0    chevrolet    diesel      turbo
164         -2               90.0    chevrolet    diesel      turbo
167         -1              120.0  alfa-romero    diesel      turbo
172         -2               90.0         audi    diesel        std
175         -1                NaN          bmw       gas        std
176         -1              100.0        dodge       gas      turbo
180         -1               90.0        honda       gas        std
184          0               65.0         audi       gas        std
191          3               90.0    chevrolet    diesel        std
198          0               90.0        honda    diesel        std

    num-of-doors body-style drive-wheels engine-location  wheel-base  ...  \
0            two      sedan          fwd           front  115.633422  ...
6           four      sedan          fwd            rear  107.347594  ...
16          four      sedan          rwd            rear   97.610903  ...
23          four      sedan          4wd           front  111.991202  ...
24           two      sedan          4wd           front   95.559522  ...
25           two      sedan          fwd            rear  114.397537  ...
26          four      sedan          4wd            rear   87.037845  ...
27           two      sedan          4wd           front  114.392064  ...
30           two      sedan          fwd            rear  111.473742  ...
35          four      sedan          4wd           front   88.305779  ...
40          four      sedan          4wd           front   92.829054  ...
41          four      sedan          rwd           front  115.134335  ...
52           two      sedan          4wd            rear  101.989649  ...
53           two      sedan          rwd           front   96.552671  ...
59          four      sedan          rwd           front   87.623845  ...
61          four      sedan          4wd            rear  118.470024  ...
66          four      sedan          4wd           front  120.877331  ...
69          four      sedan          fwd           front  114.394836  ...
70           two      sedan          fwd           front   99.235151  ...
71          four      sedan          4wd            rear   99.685252  ...
74          four      sedan          fwd           front  106.849792  ...
75          four      sedan          rwd            rear  106.862992  ...
81           two      sedan          rwd            rear  103.502238  ...
88          four      sedan          fwd            rear   98.065928  ...
90          four      sedan          rwd            rear  112.979480  ...
92           two      sedan          fwd           front   87.155169  ...
97          four      sedan          4wd           front   96.051483  ...
99          four      sedan          rwd           front  102.904533  ...
100          two      sedan          rwd           front   96.392253  ...
102         four      sedan          rwd            rear  108.187293  ...
104          two      sedan          rwd           front   98.710559  ...
106         four      sedan          rwd            rear   92.608696  ...
108          two      sedan          4wd           front   96.668240  ...
116         four      sedan          4wd            rear  103.821012  ...
123         four      sedan          4wd           front  101.049422  ...
127          two      sedan          fwd           front  106.362101  ...
146         four      sedan          4wd           front  104.880189  ...
147          two      sedan          4wd            rear   92.902456  ...
149          two      sedan          rwd           front   92.907756  ...
155         four      sedan          rwd            rear   88.809070  ...
160          two      sedan          4wd           front  116.168570  ...
161         four      sedan          4wd            rear   87.242644  ...
164          two      sedan          rwd           front  100.158188  ...
167         four      sedan          rwd           front   87.526327  ...
172         four      sedan          rwd           front  117.935386  ...
175         four      sedan          fwd            rear  109.904736  ...
176          two      sedan          rwd           front  104.168899  ...
180         four      sedan          4wd            rear  115.991669  ...
184          two      sedan          rwd           front  101.506240  ...
191          two      sedan          fwd            rear  120.589008  ...
198          two      sedan          fwd           front   91.788592  ...

     engine-size  fuel-system      bore    stroke compression-ratio  \
0             80         mpfi  2.978647  3.207758         14.404719
6             94         2bbl  2.853375  3.049363          9.871778
16           172          idi  2.606430  3.581447         16.373796
23           285          idi  2.797937  3.706312         20.523001
24           122         spdi  3.302350  2.986434         16.662863
25           171         mpfi  2.774876  2.209233         21.002069
26           266          idi  3.446728  2.813594          8.918173
27           108          idi  3.737752  2.650069         18.100681
30           154          idi  2.955628  2.955439         14.537311
35            73         2bbl  3.905453  2.319640         20.365955
40           173         spdi  3.470453  3.277943          9.730939
41           261         spdi  3.417114  3.849296         17.740147
52           118         spdi  3.388770  3.939741          9.658143
53           203          idi  3.933629  4.026980         16.050340
59           206         spdi  2.800630  3.486216          9.071588
61           153         spdi  3.877543  2.972657         12.933057
66           323          idi  3.017324  3.282061         12.833225
69           108         mpfi  3.083865  3.875400         14.960124
70            63         spdi  3.585837  3.012478          7.981463
71            72          idi  3.687406  3.920728         19.111107
74           175         mpfi  3.271482  3.191922          7.628280
75           183         mpfi  3.230645  2.897019         20.607725
81           247         mpfi  3.030743  2.687694         16.964657
88            86         spdi  3.470143  4.113604         15.438846
90           286         spdi  3.230456  3.107092         14.633039
92            78         mpfi  2.692177  2.597926         17.875902
97           172          idi  3.310381  2.970805          7.441991
99           243         2bbl  2.754183  3.793344         22.236319
100           87         2bbl  3.731047  3.116377          8.864947
102          253          idi  2.856371  2.776956         20.732383
104           90          idi  3.393894  2.081020         11.035320
106          270          idi  3.336337  3.595119          8.895418
108          279          idi  3.127890  2.397948         22.992194
116          137         2bbl  2.687796  2.539079         20.800868
123          263         spdi  2.934764  2.107090         20.327378
127          247         mpfi  2.580512  3.078013         12.787213
146          179          idi  3.807637  3.889405         20.158564
147          259          idi  2.894398  3.246120         20.526930
149          242         spdi  3.095282  2.196180         13.491302
155          196         2bbl  3.419876  2.678250         16.069206
160          233         mpfi  2.768659  2.080920         10.233014
161           86         mpfi  3.892282  3.072181         16.834930
164          188         spdi  3.638057  3.677522          7.887365
167          202         mpfi  3.767062  2.770419         13.038003
172          317          idi  3.176669  3.318702          8.475467
175           87          idi  2.572822  3.570062         12.836577
176          242         spdi  2.920260  3.823677         20.724876
180          218         spdi  3.774031  2.379806         11.050698
184           79         mpfi  2.848148  3.152198         21.616425
191          184         spdi  3.147407  2.782091          9.314999
198          124          idi  3.478887  3.192695         15.946497

    horsepower  peak-rpm city-mpg  highway-mpg  price
0          147      6191       15           28  24559
6           89      6259       34           37  34720
16          96      5572       26           52  28809
23         178      6314       42           33  40767
24         256      6576       36           53  10066
25         161      4630       45           38   5768
26          71      4489       13           22  18426
27         230      5936       36           52   9077
30         160      4970       27           25  31700
35          59      6196       20           18  10513
40         235      6597       39           46  15607
41          71      6131       28           18  45066
52         132      5854       14           40  12575
53         109      4861       45           39  27655
59         231      4329       33           37  12764
61         147      6137       21           47  20250
66          48      4737       23           16  32573
69         190      6054       13           52  26947
70         187      5222       47           17  30861
71          83      4943       25           29  15824
74         201      4645       13           41  42733
75         244      5622       29           37  15627
81         109      4737       33           34   6045
88         239      4740       30           42   5338
90          70      6579       17           53  40563
92         233      5652       13           17  17962
97         207      4424       16           34   5131
99         280      4859       46           41  28778
100        127      5412       19           31  22403
102        101      6113       35           36  31746
104        112      6418       43           22  12982
106        275      6225       24           37   9597
108        120      6222       48           28  21812
116        184      6377       15           46  29665
123        128      5665       41           53  18896
127        116      5378       32           25  23508
146        192      6045       28           44  13251
147        152      4666       29           51   8535
149        100      5863       27           45  30793
155        142      6492       27           34  40994
160         80      6536       33           46  26814
161        124      6104       43           50  37952
164        253      5311       24           43  21393
167         75      5298       38           46  20142
172         74      6421       24           33  37214
175        122      5140       37           30  37603
176        194      4681       27           38  16589
180         60      4157       44           38  22380
184        118      5189       47           25  17529
191        122      6054       37           31  25075
198         82      5535       39           49  20263

[51 rows x 26 columns]

In [9]:
double_grouping = df.groupby(["body-style","drive-wheels"])
#To print the first values contained in each group
double_grouping.first()

                         symboling  normalized-losses         make fuel-type  \
body-style drive-wheels
hardtop    4wd                   3              125.0        dodge    diesel
           fwd                  -1              100.0        dodge       gas
           rwd                   1              115.0        dodge    diesel
hatchback  4wd                   3              100.0        honda    diesel
           fwd                  -2              120.0  alfa-romero    diesel
           rwd                  -2              125.0  alfa-romero       gas
sedan      4wd                   3              120.0        honda       gas
           fwd                   3               65.0         audi       gas
           rwd                  -1              125.0  alfa-romero       gas
wagon      4wd                   2               90.0  alfa-romero       gas
           fwd                  -2              115.0  alfa-romero       gas
           rwd                   3              125.0    chevrolet       gas

                        aspiration num-of-doors engine-location  wheel-base  \
body-style drive-wheels
hardtop    4wd                 std         four           front   91.137384
           fwd               turbo          two           front   93.024327
           rwd               turbo         four            rear  100.064006
hatchback  4wd               turbo          two           front  107.638341
           fwd               turbo          two            rear  107.318676
           rwd               turbo         four            rear  109.963977
sedan      4wd                 std         four           front  111.991202
           fwd                 std          two           front  115.633422
           rwd               turbo         four            rear   97.610903
wagon      4wd                 std         four            rear   99.989983
           fwd               turbo         four            rear  110.529013
           rwd               turbo         four           front  118.367521

                             length      width  ...  engine-size  fuel-system  \
body-style drive-wheels                         ...
hardtop    4wd           168.077620  63.519049  ...          305         spdi
           fwd           171.580487  63.343180  ...          304         2bbl
           rwd           141.516475  62.014238  ...          304          idi
hatchback  4wd           177.275264  66.255414  ...          186          idi
           fwd           178.534013  64.937625  ...          320         2bbl
           rwd           142.037760  69.897206  ...          151         spdi
sedan      4wd           189.172653  64.904275  ...          285          idi
           fwd           148.041816  68.957613  ...           80         mpfi
           rwd           142.298734  60.867095  ...          172          idi
wagon      4wd           156.833181  68.262378  ...           78         spdi
           fwd           197.601693  67.361640  ...          188         2bbl
           rwd           187.238023  64.122023  ...           64         spdi

                             bore    stroke  compression-ratio horsepower  \
body-style drive-wheels
hardtop    4wd           2.722061  2.613987           9.803433        265
           fwd           3.463971  3.622849          16.698829        152
           rwd           3.633389  4.140604          22.083138        136
hatchback  4wd           2.958995  3.022390          10.886943        161
           fwd           3.274995  2.577606          17.865386        251
           rwd           3.281093  3.129495          14.574707        110
sedan      4wd           2.797937  3.706312          20.523001        178
           fwd           2.978647  3.207758          14.404719        147
           rwd           2.606430  3.581447          16.373796         96
wagon      4wd           2.957125  2.629871          18.002643        184
           fwd           3.140834  4.016788          11.812541        188
           rwd           2.687031  3.702664           9.148785         72

                         peak-rpm  city-mpg  highway-mpg  price
body-style drive-wheels
hardtop    4wd               4355        17           35  30488
           fwd               4633        31           17  39483
           rwd               5136        14           46  44343
hatchback  4wd               4948        20           48  37808
           fwd               4597        25           31  25685
           rwd               6557        44           31  22252
sedan      4wd               6314        42           33  40767
           fwd               6191        15           28  24559
           rwd               5572        26           52  28809
wagon      4wd               6247        20           22  33440
           fwd               6035        34           21  14984
           rwd               4333        15           51   7575

[12 rows x 24 columns]

In [10]:
# max() will print the maximum entry of each group
style['normalized-losses'].max()
# min() will print the minimum entry of each group
style['normalized-losses'].min()

body-style
hardtop      65.0
hatchback    65.0
sedan        65.0
wagon        65.0
Name: normalized-losses, dtype: float64

In [12]:

# style['normalized-losses'].min() will print output in series
style['normalized-losses'].min()

# style[['normalized-losses']].min() will print output in data frame
style[['normalized-losses']].min()

            normalized-losses
body-style
hardtop                  65.0
hatchback                65.0
sedan                    65.0
wagon                    65.0

In [14]:
# mean() will print mean of numerical column in each group
style.mean(numeric_only=True)

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
body-style,,,,,,,,,,,,,,,,
hardtop,0.627451,106.071429,102.156627,173.185747,66.642001,53.865603,2707.117647,194.686275,3.304848,3.212353,15.497146,154.784314,5347.764706,28.117647,34.450980,25670.705882
hatchback,0.465116,102.894737,103.461805,177.569998,65.305049,53.746395,2587.767442,193.069767,3.263819,3.148877,14.097298,165.883721,5493.186047,31.604651,34.255814,27901.441860
sedan,0.274510,98.658537,102.768484,176.255944,66.380053,54.146533,2891.803922,179.156863,3.224746,3.098118,14.868584,147.372549,5579.568627,30.196078,36.843137,22820.392157
wagon,0.345455,101.326531,105.184256,174.501411,65.919792,54.388420,2883.109091,188.909091,3.259320,3.156535,14.460594,155.490909,5445.109091,29.145455,35.036364,26442.727273

In [16]:
import pandas as pd

df = pd.read_csv("/content/automobileEDA.csv")

# Grouping
style = df.groupby("body-style")

# Check which body-style values exist
print(df["body-style"].unique())

# Example: use one existing value
print(style.get_group("sedan").mean(numeric_only=True))

['hardtop' 'wagon' 'sedan' 'hatchback']
symboling                0.575000
normalized-losses      100.000000
wheel-base             102.157807
length                 175.404605
width                   65.992095
height                  54.044832
curb-weight           2643.850000
engine-size            148.950000
bore                     3.305722
stroke                   2.977479
compression-ratio       15.462347
horsepower             152.175000
peak-rpm              5404.325000
city-mpg                32.200000
highway-mpg             34.450000
price                24598.225000
dtype: float64

In [17]:
# get the sum of the price for each body-style group
style['price'].sum()

body-style
hardtop      1150185
hatchback    1578021
sedan         983929
wagon        1337340
Name: price, dtype: int64

In [18]:
# get the number of symboling/records in each group
style['symboling'].count()

body-style
hardtop      42
hatchback    63
sedan        40
wagon        55
Name: symboling, dtype: int64

# Merging on Index

In [19]:
from IPython.display import display_html

def display_side_by_side(*args):
    html_str=''
    for df in args:
        html_str+=df.to_html()
    display_html(html_str.replace('table','table style="display:inline"'),raw=True)

In [20]:
import pandas as pd

left1 = pd.DataFrame({'key': ['apple','ball','apple', 'apple', 'ball', 'cat'], 'value': range(6)})
right1 = pd.DataFrame({'group_val': [33.4, 5]}, index=['apple', 'ball'])
display_side_by_side(left1,right1)

df1 = pd.merge(left1, right1, left_on='key', right_index=True)
df1

     key  value  group_val
0  apple      0       33.4
1   ball      1        5.0
2  apple      2       33.4
3  apple      3       33.4
4   ball      4        5.0

In [21]:
df2 = pd.merge(left1, right1, left_on='key', right_index=True, how='outer')
df2

     key  value  group_val
0  apple      0       33.4
2  apple      2       33.4
3  apple      3       33.4
1   ball      1        5.0
4   ball      4        5.0
5    cat      5        NaN

# Concatenating along an axis

In [22]:
import numpy as np

yarra = np.arange(15).reshape((3,5))
yarra

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [23]:
 np.concatenate([yarra, yarra], axis=1)

array([[ 0,  1,  2,  3,  4,  0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 10, 11, 12, 13, 14]])

**Data Aggregation**

In [24]:

# new dataframe that consist length,width,height,curb-weight and price
new_dataset = df.filter(["length","width","height","curb-weight","price"],axis=1)
new_dataset

         length      width     height  curb-weight  price
0    191.359196  66.166577  48.331147         2461  29850
1    182.883106  65.195196  51.062935         3490  27493
2    204.568386  70.760816  48.344409         1533  41550
3    142.898583  71.059032  57.354599         1570  34730
4    175.067843  67.327252  48.229653         4027  33402
..          ...        ...        ...          ...    ...
195  162.320372  65.611493  49.436510         2685  34132
196  175.616100  70.188851  57.442559         1743   7839
197  195.089166  67.680331  48.471970         3124  31933
198  163.651826  61.787346  57.318114         3840  14127
199  170.430460  64.190833  54.756737         3651  22323

[200 rows x 5 columns]

In [25]:

# applying single aggregation for mean over the columns
new_dataset.agg("mean", axis="rows")

length           174.324333
width             66.285116
height            53.995721
curb-weight     2846.170000
price          25247.375000
dtype: float64

In [26]:
# applying aggregation sum and minimun across all the columns
new_dataset.agg(['sum', 'min'])

           length         width        height  curb-weight    price
sum  34864.866592  13257.023204  10799.144174       569234  5049475
min    142.643063     60.386995     47.975375         1491     5162

In [27]:
# find aggregation for these columns
new_dataset.aggregate({"length":['sum', 'min'],
              "width":['max', 'min'],
              "height":['min', 'sum'],
              "curb-weight":['sum']})
# if any specific aggregation is not applied on a column
# then it has NaN value corresponding to it

           length      width        height  curb-weight
sum  34864.866592        NaN  10799.144174     569234.0
min    142.643063  60.386995     47.975375          NaN
max           NaN  72.259050           NaN          NaN

In [28]:
df.dtypes

symboling              int64
normalized-losses    float64
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower             int64
peak-rpm               int64
city-mpg               int64
highway-mpg            int64
price                  int64
dtype: object

In [31]:
import pandas as pd
import numpy as np

df = pd.read_csv("/content/automobileEDA.csv")

# Convert price column to string first
df['price'] = df['price'].astype(str)

# Check which price values are non-numeric
print(df['price'].str.isnumeric().value_counts())

# Show non-numeric values
print(df['price'].loc[df['price'].str.isnumeric() == False])

# Replace '?' with mean
price = df['price'].loc[df['price'] != '?']
pmean = price.astype(int).mean()

df['price'] = df['price'].replace('?', pmean).astype(int)

# Groupby aggregation
result = df.groupby(["body-style", "drive-wheels"]).agg({
    'height': 'min',
    'length': 'max',
    'price': 'mean'
})

print(result)

price
True    200
Name: count, dtype: int64
Series([], Name: price, dtype: object)
                            height      length         price
body-style drive-wheels
hardtop    4wd           48.331147  208.046599  28990.916667
           fwd           48.018288  206.158126  29177.687500
           rwd           49.436510  205.613488  23960.785714
hatchback  4wd           48.692854  197.489999  25345.400000
           fwd           48.191811  195.195206  26215.291667
           rwd           48.203435  202.448364  23260.315789
sedan      4wd           49.445706  201.439508  24137.272727
           fwd           48.823498  204.776861  25113.153846
           rwd           47.975375  204.719955  24496.750000
wagon      4wd           48.344409  204.568386  26473.500000
           fwd           48.556740  207.036213  19536.666667
           rwd           49.570270  196.881244  26884.200000

**Group-wise operations**

In [32]:

# Group the data frame df by body-style and drive-wheels and extract stats from each group
df.groupby(
   ["body-style","drive-wheels"]
).agg(
    {
         'height': min,    # minimum height of car in each group
         'length': max,  # maximum length of car in each group
         'price': 'mean',  # average price of car in each group

    }
)

/tmp/ipython-input-126098626.py:4: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  ).agg(
/tmp/ipython-input-126098626.py:4: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ).agg(

                            height      length         price
body-style drive-wheels
hardtop    4wd           48.331147  208.046599  28990.916667
           fwd           48.018288  206.158126  29177.687500
           rwd           49.436510  205.613488  23960.785714
hatchback  4wd           48.692854  197.489999  25345.400000
           fwd           48.191811  195.195206  26215.291667
           rwd           48.203435  202.448364  23260.315789
sedan      4wd           49.445706  201.439508  24137.272727
           fwd           48.823498  204.776861  25113.153846
           rwd           47.975375  204.719955  24496.750000
wagon      4wd           48.344409  204.568386  26473.500000
           fwd           48.556740  207.036213  19536.666667
           rwd           49.570270  196.881244  26884.200000

In [33]:
# create dictionary of aggregrations
aggregations=(
    {
         'height':min,    # minimum height of car in each group
         'length': max,  # maximum length of car in each group
         'price': 'mean',  # average price of car in each group

    }
)
# implementing aggregations in groups
df.groupby(
   ["body-style","drive-wheels"]
).agg(aggregations)

/tmp/ipython-input-2098433321.py:13: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  ).agg(aggregations)
/tmp/ipython-input-2098433321.py:13: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ).agg(aggregations)

                            height      length         price
body-style drive-wheels
hardtop    4wd           48.331147  208.046599  28990.916667
           fwd           48.018288  206.158126  29177.687500
           rwd           49.436510  205.613488  23960.785714
hatchback  4wd           48.692854  197.489999  25345.400000
           fwd           48.191811  195.195206  26215.291667
           rwd           48.203435  202.448364  23260.315789
sedan      4wd           49.445706  201.439508  24137.272727
           fwd           48.823498  204.776861  25113.153846
           rwd           47.975375  204.719955  24496.750000
wagon      4wd           48.344409  204.568386  26473.500000
           fwd           48.556740  207.036213  19536.666667
           rwd           49.570270  196.881244  26884.200000

We can use numpy functions in aggregation as well

In [34]:
# import the numpy library as np
import numpy as np
# using numpy libraries for operations
df.groupby(
   ["body-style","drive-wheels"])["price"].agg([np.sum, np.mean, np.std])

/tmp/ipython-input-3158926378.py:5: FutureWarning: The provided callable <function sum at 0x78232b9667a0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ["body-style","drive-wheels"])["price"].agg([np.sum, np.mean, np.std])
/tmp/ipython-input-3158926378.py:5: FutureWarning: The provided callable <function mean at 0x78232b967880> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ["body-style","drive-wheels"])["price"].agg([np.sum, np.mean, np.std])
/tmp/ipython-input-3158926378.py:5: FutureWarning: The provided callable <function std at 0x78232b9679c0> is currently using SeriesGroupBy.std. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "std" instead.
  ["body-style","drive-wheels"])["price"].agg([np.sum, np.mean, np.std])

                            sum          mean           std
body-style drive-wheels
hardtop    4wd           347891  28990.916667  13109.226830
           fwd           466843  29177.687500  11961.351667
           rwd           335451  23960.785714  13572.676785
hatchback  4wd           506908  25345.400000  12050.064697
           fwd           629167  26215.291667  10972.811540
           rwd           441946  23260.315789  10520.337173
sedan      4wd           265510  24137.272727  10329.152289
           fwd           326471  25113.153846  11446.369045
           rwd           391948  24496.750000  11857.215308
wagon      4wd           582417  26473.500000  11643.791703
           fwd           351660  19536.666667  10137.171075
           rwd           403263  26884.200000  10598.148863

**Renaming grouped aggregation columns**

In [35]:
df.groupby(
   ["body-style","drive-wheels"]).agg(
    # Get max of the price column for each group
    max_price=('price', max),
    # Get min of the price column for each group
    min_price=('price', min),
    # Get sum of the price column for each group
    total_price=('price', 'mean')

)

/tmp/ipython-input-1975774953.py:2: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ["body-style","drive-wheels"]).agg(
/tmp/ipython-input-1975774953.py:2: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  ["body-style","drive-wheels"]).agg(

                         max_price  min_price   total_price
body-style drive-wheels
hardtop    4wd               41759       5736  28990.916667
           fwd               45399       9719  29177.687500
           rwd               43879       6498  23960.785714
hatchback  4wd               44508       5162  25345.400000
           fwd               45073       7839  26215.291667
           rwd               45085       7680  23260.315789
sedan      4wd               36198       8631  24137.272727
           fwd               43260       9779  25113.153846
           rwd               41700       5850  24496.750000
wagon      4wd               45108       7962  26473.500000
           fwd               44737       6361  19536.666667
           rwd               42964      11910  26884.200000

**Group-wise transformations**

In [36]:
df["price"]=df["price"].transform(lambda x:x + x/10)
df.loc[:,'price']

0      32835.0
1      30242.3
2      45705.0
3      38203.0
4      36742.2
        ...
195    37545.2
196     8622.9
197    35126.3
198    15539.7
199    24555.3
Name: price, Length: 200, dtype: float64

Let's observe average price of cars for each grouping by body-style and drive-wheels

In [37]:
df.groupby(["body-style","drive-wheels"])["price"].transform('mean')

0      31890.008333
1      29572.620000
2      29120.850000
3      31890.008333
4      26946.425000
           ...
195    26356.864286
196    28836.820833
197    28836.820833
198    29120.850000
199    28836.820833
Name: price, Length: 200, dtype: float64

In [38]:
df["average-price"]=df.groupby(["body-style","drive-wheels"])["price"].transform('mean')
# selectiing columns body-style,drive-wheels,price and average-price
df.loc[:,["body-style","drive-wheels","price","average-price"]]

    body-style drive-wheels    price  average-price
0      hardtop          4wd  32835.0   31890.008333
1        wagon          rwd  30242.3   29572.620000
2        wagon          4wd  45705.0   29120.850000
3      hardtop          4wd  38203.0   31890.008333
4        sedan          rwd  36742.2   26946.425000
..         ...          ...      ...            ...
195    hardtop          rwd  37545.2   26356.864286
196  hatchback          fwd   8622.9   28836.820833
197  hatchback          fwd  35126.3   28836.820833
198      wagon          4wd  15539.7   29120.850000
199  hatchback          fwd  24555.3   28836.820833

[200 rows x 4 columns]

**Pivot Tables and Cross-Tabulations**

In [46]:
import pandas as pd
import numpy as np

df = pd.read_csv("/content/automobileEDA.csv")

# Select columns safely using .copy()
new_dataset1 = df[["body-style", "drive-wheels", "length", "width", "height", "curb-weight", "price"]].copy()

# Convert numeric columns safely (non-numeric becomes NaN)
numeric_cols = ["length", "width", "height", "curb-weight", "price"]
new_dataset1.loc[:, numeric_cols] = new_dataset1[numeric_cols].apply(pd.to_numeric, errors='coerce')

# Remove rows that contain invalid numeric values
new_dataset1 = new_dataset1.dropna()

# Create pivot table
table = pd.pivot_table(
    new_dataset1,
    index=["body-style"],
    values=numeric_cols,     # Only numeric columns
    aggfunc='mean'
)

print(table)

            curb-weight     height      length         price      width
body-style
hardtop     2856.809524  53.760832  175.419629  27385.357143  66.490487
hatchback   2897.857143  54.042969  173.690334  25047.952381  66.590197
sedan       2643.850000  54.044832  175.404605  24598.225000  65.992095
wagon       2925.981818  54.085252  173.428489  24315.272727  65.991937

In [47]:
#pivot table with dataframe df and index body-style and drive-wheels
table = pd.pivot_table(new_dataset1, index =["body-style","drive-wheels"])
table

                         curb-weight     height      length         price  \
body-style drive-wheels
hardtop    4wd           3062.166667  54.086974  174.271836  28990.916667
           fwd           2589.937500  52.726781  173.005381  29177.687500
           rwd           2985.785714  54.663056  179.162593  23960.785714
hatchback  4wd           2844.750000  54.937043  171.021288  25345.400000
           fwd           2883.416667  53.667517  174.133394  26215.291667
           rwd           2972.000000  53.576093  175.940202  23260.315789
sedan      4wd           2194.909091  54.996218  176.773293  24137.272727
           fwd           2941.846154  54.434585  171.454876  25113.153846
           rwd           2710.375000  53.074081  177.672787  24496.750000
wagon      4wd           3141.545455  54.387790  174.728547  26473.500000
           fwd           2752.833333  52.989678  176.670104  19536.666667
           rwd           2817.600000  54.956219  167.631800  26884.200000

                             width
body-style drive-wheels
hardtop    4wd           66.303654
           fwd           66.255627
           rwd           66.919040
hatchback  4wd           66.875172
           fwd           66.410788
           rwd           66.516846
sedan      4wd           67.045416
           fwd           65.021761
           rwd           66.056333
wagon      4wd           66.211861
           fwd           66.143475
           rwd           65.487537

In [48]:
# import numpy for aggregration function
import numpy as np

#new data set with few columns
new_dataset3 = df.filter(["body-style","drive-wheels","price"],axis=1)

# pivot table with dataset new_dataset2
# values are the column in which aggregration function is to be applied
# index is column for grouping of data
# columns for specifying category of data
# aggfunc is the aggregration function to be applied
# fill_value to fill missing values
table = pd.pivot_table(new_dataset3, values='price', index=["body-style"],
                       columns=["drive-wheels"],aggfunc=np.mean,fill_value=0)
table

/tmp/ipython-input-3784420356.py:13: FutureWarning: The provided callable <function mean at 0x78232b967880> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  table = pd.pivot_table(new_dataset3, values='price', index=["body-style"],

drive-wheels           4wd           fwd           rwd
body-style
hardtop       28990.916667  29177.687500  23960.785714
hatchback     25345.400000  26215.291667  23260.315789
sedan         24137.272727  25113.153846  24496.750000
wagon         26473.500000  19536.666667  26884.200000

In [49]:
table = pd.pivot_table(new_dataset1, values=['price','height','width'],
                       index =["body-style","drive-wheels"],
                       aggfunc={'price': np.mean,'height': [min, max],'width': [min, max]},
                       fill_value=0)
table

/tmp/ipython-input-3253727937.py:1: FutureWarning: The provided callable <function mean at 0x78232b967880> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  table = pd.pivot_table(new_dataset1, values=['price','height','width'],
/tmp/ipython-input-3253727937.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  table = pd.pivot_table(new_dataset1, values=['price','height','width'],
/tmp/ipython-input-3253727937.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  table = pd.pivot_table(new_dataset1, values=['price','height','width'],

                            height                    price      width  \
                               max        min          mean        max
body-style drive-wheels
hardtop    4wd           58.651205  48.331147  28990.916667  71.059032
           fwd           58.537856  48.018288  29177.687500  71.374387
           rwd           59.627935  49.436510  23960.785714  71.995262
hatchback  4wd           59.587838  48.692854  25345.400000  71.645829
           fwd           58.918095  48.191811  26215.291667  72.233695
           rwd           59.319150  48.203435  23260.315789  71.269091
sedan      4wd           58.821219  49.445706  24137.272727  72.245681
           fwd           59.657243  48.823498  25113.153846  69.520434
           rwd           59.029811  47.975375  24496.750000  71.987610
wagon      4wd           58.750581  48.344409  26473.500000  72.259050
           fwd           58.460493  48.556740  19536.666667  72.119268
           rwd           59.744267  49.570270  26884.200000  72.227860


                               min
body-style drive-wheels
hardtop    4wd           60.392414
           fwd           61.150604
           rwd           61.701947
hatchback  4wd           60.937571
           fwd           60.613105
           rwd           61.342409
sedan      4wd           60.919247
           fwd           60.891207
           rwd           61.998011
wagon      4wd           60.604512
           fwd           60.386995
           rwd           60.758194

**Cross-Tabulations**

In [50]:
# apply pd.crosstab() function in data frame df
pd.crosstab(df["make"], df["body-style"])

body-style   hardtop  hatchback  sedan  wagon
make
alfa-romero        9         12      9     10
audi               6          7      9     11
bmw                7         10     11      5
chevrolet          3         12      2      4
dodge              9         14      2     11
honda              8          8      7     14

In [51]:
# apply margins and margins_name attribute to displays the row wise
# and column wise sum of the cross table
pd.crosstab(df["make"], df["body-style"],margins=True,margins_name="Total Made")

body-style   hardtop  hatchback  sedan  wagon  Total Made
make
alfa-romero        9         12      9     10          40
audi               6          7      9     11          33
bmw                7         10     11      5          33
chevrolet          3         12      2      4          21
dodge              9         14      2     11          36
honda              8          8      7     14          37
Total Made        42         63     40     55         200

In [52]:
pd.crosstab([df["make"],df["num-of-doors"]], [df["body-style"],df["drive-wheels"]],
            margins=True,margins_name="Total Made")

body-style               hardtop         hatchback         sedan          \
drive-wheels                 4wd fwd rwd       4wd fwd rwd   4wd fwd rwd
make        num-of-doors
alfa-romero four               0   4   2         3   2   0     2   1   2
            two                1   0   2         2   2   3     0   3   1
audi        four               2   2   0         2   0   1     1   0   4
            two                0   1   1         1   2   1     2   2   0
bmw         four               2   2   0         1   4   2     1   2   4
            two                1   1   1         0   1   2     2   2   0
chevrolet   four               1   0   0         0   5   4     0   0   1
            two                1   0   1         0   2   1     0   1   0
dodge       four               1   2   4         5   2   2     1   0   0
            two                1   0   1         2   2   1     0   0   1
honda       four               2   2   1         1   1   0     0   2   1
            two                0   2   1         3   1   2     2   0   2
Total Made                    12  16  14        20  24  19    11  13  16

body-style               wagon         Total Made
drive-wheels               4wd fwd rwd
make        num-of-doors
alfa-romero four             2   2   2         22
            two              1   2   1         18
audi        four             4   2   1         19
            two              2   1   1         14
bmw         four             1   1   0         20
            two              1   1   1         13
chevrolet   four             0   1   1         13
            two              2   0   0          8
dodge       four             0   0   4         21
            two              5   2   0         15
honda       four             1   3   1         15
            two              3   3   3         22
Total Made                  22  18  15        200

In [53]:
# rename the columns and row index for better understanding of crosstab
pd.crosstab([df["make"],df["num-of-doors"]], [df["body-style"],df["drive-wheels"]],
            rownames=['Auto Manufacturer', "Doors"],
            colnames=['Body Style', "Drive Type"],
            margins=True,margins_name="Total Made").head()

Body Style              hardtop         hatchback         sedan         wagon  \
Drive Type                  4wd fwd rwd       4wd fwd rwd   4wd fwd rwd   4wd
Auto Manufacturer Doors
alfa-romero       four        0   4   2         3   2   0     2   1   2     2
                  two         1   0   2         2   2   3     0   3   1     1
audi              four        2   2   0         2   0   1     1   0   4     4
                  two         0   1   1         1   2   1     2   2   0     2
bmw               four        2   2   0         1   4   2     1   2   4     1

Body Style                      Total Made
Drive Type              fwd rwd
Auto Manufacturer Doors
alfa-romero       four    2   2         22
                  two     2   1         18
audi              four    2   1         19
                  two     1   1         14
bmw               four    1   0         20

In [54]:
# values are the column in which aggregration function is to be applied
# aggfunc is the aggregration function to be applied
# round() to round the output

pd.crosstab(df["make"], df["body-style"],values=df["curb-weight"],
            aggfunc='mean').round(0)

body-style   hardtop  hatchback   sedan   wagon
make
alfa-romero   2636.0     3038.0  3014.0  2898.0
audi          2682.0     2939.0  2558.0  2730.0
bmw           3285.0     2754.0  2503.0  2988.0
chevrolet     3450.0     2694.0  2622.0  3299.0
dodge         2884.0     2956.0  2436.0  2888.0
honda         2609.0     3036.0  2565.0  3001.0

In [55]:
# top ten output that represents the percentage of occurrence of the combination
pd.crosstab(df["make"], df["body-style"],normalize=True).head(10)

body-style   hardtop  hatchback  sedan  wagon
make
alfa-romero    0.045      0.060  0.045  0.050
audi           0.030      0.035  0.045  0.055
bmw            0.035      0.050  0.055  0.025
chevrolet      0.015      0.060  0.010  0.020
dodge          0.045      0.070  0.010  0.055
honda          0.040      0.040  0.035  0.070