# **String Manipulation**



1.   **Creating a string**

>Strings in Python can be created using single quotes or double quotes or even triple quotes.

In [1]:
# Python Program for creating string

String1 = 'Creating a String  with single Quotes.'
String2 = "Creating a String  with double Quotes."
String3 = '''Creating a String  with triple Quotes.'''
print(String1)
print(String2)
print(String3)

Creating a String  with single Quotes.
Creating a String  with double Quotes.
Creating a String  with triple Quotes.



2.   **Accessing characters in Python**

In [2]:
# Python Program to Access characters of String
# characters of String

String = "Exploratory Data Analysis"

# Printing First character
print("\nFirst character of String is: ")
print(String[0])

# Printing Last character
print("\nLast character of String is: ")
print(String[-1])

First character of String is:
E

Last character of String is:
s

3.   **String Slicing**

In [3]:
# Python Program to demonstrate String slicing

# Creating a String
String = "Exploratory Data Analysis"

# Printing 3rd to 12th character
print("\nSlicing characters from 3-12: ")
print(String[3:12])

# Printing characters between 3rd and 2nd last character
print("\nSlicing characters between " +
    "3rd and 2nd last character: ")
print(String[3:-2])

Slicing characters from 3-12:
loratory

Slicing characters between 3rd and 2nd last character:
loratory Data Analys

4.   **Deleting/Updating from a String**

In [5]:
String = "Exploratory Data Analysis"

# Update character at index 2
String = String[:2] + 'p' + String[3:]

print("Updating character at 2nd Index:")
print(String)

Updating character at 2nd Index:
Exploratory Data Analysis

In [6]:
# Update entire String

String1 = "Exploratory Data Analysis"
print("\nInitial String: ")
print(String1)

String2 = "Welcome to the world of Data Science."
print("\nUpdated String: ")
print(String2)

Initial String:
Exploratory Data Analysis

Updated String:
Welcome to the world of Data Science.

In [8]:
String = "Exploratory Data Analysis"

# Delete character at index 2
String = String[:2] + String[3:]

print(String)

Exloratory Data Analysis

In [10]:
String = "Exploratory Data Analysis"

del String

# This will cause an error because String no longer exists
# print(String)

5.   **Escape Sequencing in Python**

In [11]:
# Python Program for Escape Sequencing  of String

String = '''I'm a "Data Scientist"'''

# Initial String
print("Initial String with use of Triple Quotes: ")
print(String)

# Escaping Single Quote
String = 'I\'m a "Data Scientist"'
print("\nEscaping Single Quote: ")
print(String)

# Escaping Doule Quotes
String = "I'm a \"Data Scientist\""
print("\nEscaping Double Quotes: ")
print(String)

# Printing Paths with the use of Escape Sequences
String = "C:\\Python\\DataScience\\"
print("\nEscaping Backslashes: ")
print(String)

# To ignore the escape sequences in a String,r or R
# is used, this implies that the string is a raw string
# and escape sequences inside it are to be ignored.

# Printing statements in diffrent lines
Statements = "Lets talk about EDA.\n EDA is an acronym for Exploratory Data Analysis"
print("\nPrinting with the use of Escape Sequences: ")
print(Statements)

# Using raw String to
# ignore Escape Sequences
Statements = r"Lets talk about EDA.\n EDA is an acronym for Exploratory Data Analysis"
print("\nPrinting Raw String : ")
print(Statements)

Initial String with use of Triple Quotes:
I'm a "Data Scientist"

Escaping Single Quote:
I'm a "Data Scientist"

Escaping Double Quotes:
I'm a "Data Scientist"

Escaping Backslashes:
C:\Python\DataScience\

Printing with the use of Escape Sequences:
Lets talk about EDA.
 EDA is an acronym for Exploratory Data Analysis

Printing Raw String :
Lets talk about EDA.\n EDA is an acronym for Exploratory Data Analysis

6.   **Formatting of Strings**

In [12]:
# Python Program for Formatting of Strings

# Default order
String1 = "{} {} {}".format('Exploratory ', 'Data ', 'Analysis')
print("Print String in default order: ")
print(String1)

# Positional Formatting
String1 = "{1} {0} {2}".format('Exploratory', 'Data', 'Analysis')
print("\nPrint String in Positional order: ")
print(String1)

# Keyword Formatting
String1 = "{l} {f} {g}".format(g = 'Exploratory', f = 'Data', l = 'Analysis')
print("\nPrint String in order of Keywords: ")
print(String1)

Print String in default order:
Exploratory  Data  Analysis

Print String in Positional order:
Data Exploratory Analysis

Print String in order of Keywords:
Analysis Data Exploratory

## Working with text dataset

For string formatting taking a little messier dataset would bee better. Kaggle launched a data exploration competition, giving users access to a database of comments made on Reddit.com during May 2015. I extracted the comments from the team's fan subreddit from the database of one of the popular basketball team Minnesota Timberwolves. You can get the data file (comments.csv)
[here](https://www.kaggle.io/svf/41614/79c92bacce098553297dbeec6c7c2196/comments.csv).

Let's start by loading the data and checking its structure and a few of the comments:

In [13]:
import numpy as np
import pandas as pd
import os

In [16]:

import pandas as pd

# Sample data
data = {
    "body": [
        "This is a great product!",
        "I love this tutorial.",
        "The content is very helpful.",
        "Amazing experience!",
        "Not good, very disappointed.",
        "I will recommend to my friends."
    ]
}

text = pd.DataFrame(data)

# Convert to series
text = text["body"]

print(text.shape)
print(text.head(8))

(6,)
0           This is a great product!
1              I love this tutorial.
2       The content is very helpful.
3                Amazing experience!
4       Not good, very disappointed.
5    I will recommend to my friends.
Name: body, dtype: object

# Pandas String Functions

In [17]:
# str.lower() to convert the first comment to lowercase
text[0].lower()

'this is a great product!'

In [18]:
# Convert all comment to lowercase str.lower()
text.str.lower().head(8)

0           this is a great product!
1              i love this tutorial.
2       the content is very helpful.
3                amazing experience!
4       not good, very disappointed.
5    i will recommend to my friends.
Name: body, dtype: object

In [19]:
# str.upper() to convert the first comment to uppercase
text[0].upper()

'THIS IS A GREAT PRODUCT!'

In [20]:
# str.len() to Get the length of all comments
text.str.len().head(8)

0    24
1    21
2    28
3    19
4    28
5    31
Name: body, dtype: int64

The string splitting and stripping functions also have pandas equivalents:

In [21]:
# Split comments on spaces
text.str.split(" ").head(8)

0            [This, is, a, great, product!]
1                [I, love, this, tutorial.]
2        [The, content, is, very, helpful.]
3                    [Amazing, experience!]
4         [Not, good,, very, disappointed.]
5    [I, will, recommend, to, my, friends.]
Name: body, dtype: object

In [22]:
# Strip leading and trailing brackets
text.str.strip("[]").head(8)

0           This is a great product!
1              I love this tutorial.
2       The content is very helpful.
3                Amazing experience!
4       Not good, very disappointed.
5    I will recommend to my friends.
Name: body, dtype: object

Combine all the strings in a series together into a single string with series.str.cat():

In [23]:
 # Check the first 500 characters
text.str.cat()[0:500]

'This is a great product!I love this tutorial.The content is very helpful.Amazing experience!Not good, very disappointed.I will recommend to my friends.'

You can slice each string in a series and return the result in an elementwise fasion with series.str.slice():

In [24]:
# Slice the first 10 characters
text.str.slice(0, 10).head(8)

0    This is a
1    I love thi
2    The conten
3    Amazing ex
4    Not good,
5    I will rec
Name: body, dtype: object

You can also use indexing after series.str to take slices:

In [25]:
# Slice the first 10 characters
text.str[0:10].head(8)

0    This is a
1    I love thi
2    The conten
3    Amazing ex
4    Not good,
5    I will rec
Name: body, dtype: object

Replace a slice with a new substring using str.slice_replace():

In [26]:
text.str.slice_replace(5, 10, " Love you Wolves " ).head(8)

0           This  Love you Wolves great product!
1              I lov Love you Wolves s tutorial.
2       The c Love you Wolves t is very helpful.
3                Amazi Love you Wolves perience!
4       Not g Love you Wolves very disappointed.
5    I wil Love you Wolves ommend to my friends.
Name: body, dtype: object

Replace the occurences of a given substring with a different substring using str.replace():

In [27]:
text.str.replace("Wolves", "Fox").head(8)

0           This is a great product!
1              I love this tutorial.
2       The content is very helpful.
3                Amazing experience!
4       Not good, very disappointed.
5    I will recommend to my friends.
Name: body, dtype: object

In [28]:
 # Get first 10 comments about Andrew Wiggins
selected_comments = text.str.lower().str.contains("wigg|drew")

text[selected_comments].head(10)

Series([], Name: body, dtype: object)

Just for information lets calculate the ratio of comments that mention Andrew Wiggins:

In [29]:
len(text[selected_comments])/len(text)

0.0

# Regular Expressions

"." - The period is a metacharacter that matches any character other than a newline:

In [30]:
# Match any substring ending in ill
my_words = pd.Series(["abaa","cabb","Abaa","sabb","dcbb"])

my_words.str.contains(".abb")

0    False
1     True
2    False
3     True
4    False
dtype: bool

"[ ]" - Square brackets specify a set of characters to match:

In [31]:
# Matches T or t followed by "ill"
my_words.str.contains("[Aa]abb")

0    False
1    False
2    False
3    False
4    False
dtype: bool

"^" - outside of square brackets, the caret symbol searches for matches at the beginning of a string:

In [32]:
# Matches He or he at the start of a string
Sentence_series= pd.Series(["Where did he go", "He went to the shop", "he is good"])

Sentence_series.str.contains("^(He|he)")

/tmp/ipython-input-261954816.py:4: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  Sentence_series.str.contains("^(He|he)")

0    False
1     True
2     True
dtype: bool

"$" - searches for matches at the end of a string:

In [33]:
# Matches go at the end of a string
Sentence_series.str.contains("(go)$")

/tmp/ipython-input-2478057984.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  Sentence_series.str.contains("(go)$")

0     True
1    False
2    False
dtype: bool

In [34]:
# Match 0 or more a's, a single b, then 1 or characters

Word_series1 = pd.Series(["abnormal","bb","a","abbcc","aba"])

Word_series1.str.contains("a*b.+")

0     True
1     True
2    False
3     True
4     True
dtype: bool

In [35]:
# Match 2 a's then 2 or more b's

Word_series2 = pd.Series(["abbaab","abbb","aabcbcb","aabb"])

Word_series2.str.contains("a{2}b{1,}")

0     True
1    False
2     True
3     True
dtype: bool

In [36]:
# Match a single period and then a space

Word_series3 = pd.Series(["Mr. SK","Dr. Deepak","Miss\Mrs Gaire."])

Word_series3.str.contains("\. ")

<>:3: SyntaxWarning: invalid escape sequence '\M'
<>:5: SyntaxWarning: invalid escape sequence '\.'
<>:3: SyntaxWarning: invalid escape sequence '\M'
<>:5: SyntaxWarning: invalid escape sequence '\.'
/tmp/ipython-input-1714325270.py:3: SyntaxWarning: invalid escape sequence '\M'
  Word_series3 = pd.Series(["Mr. SK","Dr. Deepak","Miss\Mrs Gaire."])
/tmp/ipython-input-1714325270.py:5: SyntaxWarning: invalid escape sequence '\.'
  Word_series3.str.contains("\. ")

0     True
1     True
2    False
dtype: bool

In [37]:
# Match strings containing a backslash
Word_series3.str.contains(r"\\")

0    False
1    False
2     True
dtype: bool

In [38]:
text.str.count(r"[Ww]olves").head(8)

0    0
1    0
2    0
3    0
4    0
5    0
Name: body, dtype: int64

Use series.str.findall() to get each matched substring and return the result as a list:

In [39]:
text.str.findall(r"[Ww]olves").head(8)

0    []
1    []
2    []
3    []
4    []
5    []
Name: body, dtype: object

# Getting Posts with Web Links

In [40]:
web_links = text.str.contains(r"https?:")

posts_with_links = text[web_links]

print( len(posts_with_links))

posts_with_links.head(5)

0

Series([], Name: body, dtype: object)

In [41]:
only_links = posts_with_links.str.findall(r"https?:[^ \n\)]+")

only_links.head(10)

Series([], Name: body, dtype: object)